<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
    <div th:fragment="header">  
                        您好，欢迎来到恒迪快鹿物流平台(TOMCAT2)   <a href="javascript:void(0)" onclick="logout()">退出系统</a>   
                        
                        
      <script type="text/javascript">            
                        
        function logout(){
		
			$.ajax({
			   type: "POST",
			   url: BASE_CONTEXT_PATH+"/user/logout",
			   success: function(msg){
				  if(msg.ok){
					  window.location.href=BASE_CONTEXT_PATH;
				  }else{
					  alert("退出失败");
				  }
			   }
			});
		
	   }
        </script>      
    </div>
</body>




</html>