<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header-link :: header(title,link)"> <!--将下面的调用header-link.html的一个叫“header”的fragment，并将link tile作为参数传过去 -->
	 <title>用户登陆</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="context-path" th:text="@{/}"/>
</head>
<body> 

	<form action="">
		<input type="text" name="userName" id="userName" />
		<input type="button"  value="登陆"  onclick="login()" />
	</form>
 
 <div th:replace="footer :: copy" ></div>



</body>
<!-- 根目录为static的目录 -->

  <script type="text/javascript" th:src="@{/}+'js/login.js'"></script>
</html>