<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header-link :: header(title,link)"> <!--将下面的调用header-link.html的一个叫“header”的fragment，并将link tile作为参数传过去 -->
	 <title>用户列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/}+'/css/user/user-list.css'"/>
</head>

<div th:include="header :: header"></div>

<body> 

	<form>
		用户名：<input type="text" name="userName" id="userName"/><br/>
		年龄：<input type="number" name="age" id="age"/><br/>
		地址：<input type="text"  name="address" id="address"/><br/>
		<input type="button" value="保存" onclick="save()"/> 
	</form>
 <div th:replace="footer :: copy" ></div>


</body>

<script type="text/javascript">

function save(){
	
	$.ajax({
		   type: "POST",
		   url: BASE_CONTEXT_PATH+"/user",
		   data: {userName:$("#userName").val(),
			   	  age :$("#age").val(),
			   	  address:$("#address").val()
		   		 },
		   success: function(){
			  window.location.href=BASE_CONTEXT_PATH+"/user-list";
		   }
		});
	
}

</script>

</html>